
<p id=”alert”><%= alert %></p>
<h1>User Verification</h1>
<%= form_tag verify_path do |form| %>
  <div class=”field”>
    <%= label_tag :"Verification Code" %>
    <%= text_field_tag :verification_code %>
  </div>
  <div class=”actions”>
    <%= submit_tag "Verify", class: 'btn'%>
  </div>
<% end %>
<%= link_to 'Resend Confirmation Code', 'resend' %>
